extends layout
block content
    div.container
        .colcol-lg-12
            table.table.table-striped.table-hover
                thead
                    tr
                        th ID
                        th NAME
                        th QUATITY/UNIT
                        th UNITPRICE
                        th IN STOCK
                        th ON ORDER
                        th REORDER LVL
                        th DISCONTINUED

                tbody
                    for product in products
                        tr
                            td: a.btn.btn-xs.btn-link.text-info(href='/products/#{product._id}') #{product._id}
                            td #{product.name}
                            td #{product.quantityPerUnit}
                            td #{product.unitPrice}
                            td #{product.unitsInStock}
                            td #{product.unitsOnOrder}
                            td #{product.reorderLevel}
                            td #{product.discontinued}

            button.btn.btn-success(onclick='goBack()') BACK