extends layout
block content
    //p #{customer}
    div.container
        .col-lg-12
            .col-md-6
                label(style='width: 10em') ID:
                label #{details[0].customer._id}
                br
                label(style='width: 10em') Company Name:
                label #{details[0].customer.companyName}
                br
                label(style='width: 10em') Contact Name:
                label #{details[0].customer.contactName}
                br
                label(style='width: 10em') Job Title:
                label #{details[0].customer.contactTitle}
                br

            .col-md-6
                label(style='width: 10em') Address:
                label #{details[0].customer.address}
                br
                label(style='width: 10em') City:
                label #{details[0].customer.city}
                br
                label(style='width: 10em') Region:
                label #{details[0].customer.region}
                br
                label(style='width: 10em') Zip:
                label #{details[0].customer.postalCode}
                br
                label(style='width: 10em') Country:
                label #{details[0].customer.country}
                br
                label(style='width: 10em') Phone:
                label #{details[0].customer.phone}
                br
                label(style='width: 10em') Fax:
                label #{details[0].customer.fax}
                br
                br

        .col-lg-12
            table.table.table-striped.table-hover
                thead
                    tr
                        th ID
                        th DATE
                        th REQUIRED
                        th SHIPPED
                        th VIA
                        th FREIGHT

                tbody
                    for detail in details
                        tr(onclick='DoNav("/orderdetails/", #{detail._id})')
                            td #{detail._id}
                            td #{detail.orderDate}
                            td #{detail.requiredDate}
                            td #{detail.shippedDate}
                            td #{detail.shipVia}
                            td #{detail.freight}
