extends layout
block content
    //p #{employee}
    div.container
        .col-lg-12
            .col-md-6
                label(style='width: 10em') ID:
                label #{details[0].employee._id}
                br
                label(style='width: 10em') Title:
                label #{details[0].employee.titleOfCourtesy}
                br
                label(style='width: 10em') First Name:
                label #{details[0].employee.firstName}
                br
                label(style='width: 10em') LastName:
                label #{details[0].employee.lastName}
                br
                label(style='width: 10em') Birth Date:
                label #{details[0].employee.birthDate}
                br
                label(style='width: 10em') Job Title:
                label #{details[0].employee.title}
                br
                label(style='width: 10em') Hired:
                label #{details[0].employee.hireDate}
                br

            .col-md-6
                label(style='width: 10em') Address:
                label #{details[0].employee.address}
                br
                label(style='width: 10em') City:
                label #{details[0].employee.city}
                br
                label(style='width: 10em') Region:
                label #{details[0].employee.region}
                br
                label(style='width: 10em') Zip:
                label #{details[0].employee.postalCode}
                br
                label(style='width: 10em') Country:
                label #{details[0].employee.country}
                br
                label(style='width: 10em') Phone:
                label #{details[0].employee.homePhone}
                br
                label(style='width: 10em') Extension:
                label #{details[0].employee.extension}
                br
                br

            label Notes: #{details[0].employee.notes}
            br
            br

        .col-lg-12
            table.table.table-striped.table-hover
                thead
                    tr
                        th ID
                        th DATE
                        th REQUIRED
                        th SHIPPED
                        th VIA
                        th FREIGHT

                tbody
                    for detail in details
                        tr
                            td: a.btn.btn-xs.btn-link.text-info(href='/orderdetails/#{detail._id}') #{detail._id}
                            td #{detail.orderDate}
                            td #{detail.requiredDate}
                            td #{detail.shippedDate}
                            td #{detail.shipVia}
                            td #{detail.freight}

            button.btn.btn-success(onclick='goBack()') BACK