extends layout
block content
    div.container
        .col-lg-12
            .col-md-6
                label(style='width: 10em') Order ID:
                label #{details[0].order._id}
                br
                label(style='width: 10em') Date:
                label #{details[0].order.orderDate}
                br
                label(style='width: 10em') Required:
                label #{details[0].order.requiredDate}
                br
                label(style='width: 10em') Shipped:
                label #{details[0].order.shippedDate}
                br
                label(style='width: 10em') Shipped Via:
                label #{details[0].order.shipVia}
                br
                label(style='width: 10em') Freight:
                label #{details[0].order.freight}
                br
                br

            .col-md-6
                label(style='width: 10em') Name:
                label #{details[0].order.shipName}
                br
                label(style='width: 10em') Address:
                label #{details[0].order.shipAddress}
                br
                label(style='width: 10em') City:
                label #{details[0].order.shipCity}
                br
                label(style='width: 10em') Zip:
                label #{details[0].order.shipPostalCode}
                br
                label(style='width: 10em') Country:
                label #{details[0].order.shipCountry}
                br
                br

        .col-lg-12
            .col-md-3
                table.table-hover.text-info(style='background-color:transparent;')
                    tr(onclick='DoNav("/employees/", #{details[0].order.employee})')
                        td(style='width:10em'): h4 Emplyee ID:
                        td: h4 #{details[0].order.employee}
                    tr(onclick='DoNav("/customers/", "#{details[0].order.customer}")')
                        td(style='width:10em'): h4 Customer ID:
                        td: h4 #{details[0].order.customer}

                br
                br

            table.table.table-striped
                 thead
                    tr
                        th Product
                        th(style='text-align: right') UnitPrice
                        th(style='text-align: right') Quantity
                        th(style='text-align: right') Discount
                        th(style='text-align: right') Price
                 tbody(style='text-align: right')
                    - var total = 0
                    for detail in details
                        tr
                            td(style='text-align: left') #{detail.product.name}
                            td #{detail.unitPrice.toFixed(2)}
                            td #{detail.quantity}
                            td #{detail.discount.toFixed(2)}
                            - var calc = function(){
                            -    var res = (detail.unitPrice*detail.quantity)*(1-detail.discount)
                            -    total+=res
                            - return res.toFixed(2)}
                            td #{calc()}
                    tr
                        td(colspan='4' style='text-align: left') Total
                        td(style='text-align: right') #{total.toFixed(2)}
            button.btn.btn-success(onclick='goBack()') BACK
                 