extends layout
block content
    div.container
        .col-lg-12
            table.table.table-striped.table-hover
                thead
                    tr
                        th ID
                        th DATE
                        th NAME
                        th ADDRESS
                tbody
                    for order in orders
                        tr
                            td: a.btn.btn-xs.btn-link.text-info(href='/orderdetails/#{order._id}') #{order._id}
                            td #{order.orderDate}
                            td #{order.shipName}
                            td #{order.shipAddress}

            button.btn.btn-success(onclick='goBack()') BACK