extends layout
block content
    div.container
        .col-lg-12
            table.table.table-striped.table-hover
                thead
                    tr
                        th ORDER ID
                        th UNIT PRICE
                        th QUANTITY
                        th DISCOUNT
                        th PRICE
                tbody
                    - var total = 0;
                    for detail in details
                        tr
                            td: a.btn.btn-xs.btn-link.text-info(href='/orderdetails/#{detail.order}') #{detail.order}
                            td #{detail.unitPrice}
                            td #{detail.quantity}
                            td #{detail.discount}
                            - var calc = function(){
                            -   var res = detail.unitPrice * detail.quantity - detail.discount;
                            -   total += res;
                            -   return res.toFixed(2);
                            - }
                            td #{calc()}
                    tr
                        td(colspan='4') TOTAL
                        td #{total.toFixed(2)}

            button.btn.btn-success(onclick='goBack()') BACK